$width: 340px;
$height: 340px;
$radius: 12px;
.square {
    width: $width;
    height: $height;
    border-radius: $radius;
}

.card {
    position: relative;
    color: #fff;
    img {
        object-fit: cover;
    }
    h3 {
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-size: 16px;
        width: 180px;
    }
    &::before {
        position: absolute;
        content: "";
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        width: $width;
        height: $height;
        border-radius: $radius;
    }
}
@media (max-width: 425px) {
    .square {
        width: 100%;
        &::before {
            width: 100%;
        }
    }
}