.grid {

    padding: 40px;
    border-radius: 20px;
    margin-top: 50px;
    background: #f6f6f6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 3fr));
    justify-items: center;
}

@media (max-width: 812px){
    .grid {
      padding: unset;
      background: #fff;
    }
  }

@media (max-width: 725px){
    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}