*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

/*colors*/
:root {
  --black: #000;
  --white: #fff;
}
/*colors*/
.mainSize {
  max-width: 1240px;
  margin: 30px auto;
}
.containerSize {
  max-width: 1440px;
  margin: auto;
}