/*colors*/
$corail: #FF6060;
$white: white;
$lightGrey: #f6f6f6;
$black: #000;
/*colors*/

/*font sizes*/
$big: 40px;
$medium: 24px;
$small: 18px;
/*font sizes*/

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: $white;
}
.mainSize {
  max-width: 1240px;
  margin: 30px auto;
}
.containerSize {
  max-width: 1440px;
  margin: auto;
}
header, main {
  padding: 0 20px;
}
